@{
    ViewData["Title"] = "Solos Page";
}

<div class="text-left">
    <h1 class="display-4">Solos Manager</h1>
    <p>Use this to track who wants to be soloists and when their last mass and solo was and how it went</p>
</div>