@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to Choir Manager</h1>
    <p>Utilize this tool to organize Choir information</p>
    <ol class="text-start mx-auto" style="max-width: 600px;">
        <li>
            <a asp-controller="MassPrep" asp-action="MassPrep">Masses</a> will allow you to plan your Masses ahead of time, create new Masses, and make notes about music for a particular Mass.
        </li>
        <li>
            <a asp-controller="Attendance" asp-action="Attendance">Attendance</a> will allow you to take and store student attendance each week.
        </li>
        <li>
            <a asp-controller="RehearsalPrep" asp-action="RehearsalPrep">Rehearsal</a> will allow you to plan your lessons and make notes about the lessons as they happen.
        </li>
        <li>
            <a asp-controller="Solos" asp-action="Solos">Solos</a> will allow you to keep track of students, their solos that they've done, and how long it's been since they have had one. 
        </li>
        <li>
            <a asp-controller="Student" asp-action="Index">Student</a> will allow you to add students to a certain year.
        </li>
    </ol>
</div>
