@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Choir Manager</h1>
    <p>Utilize this tool to organize Choir information</p>
    <p> 
        <ol>
            <li>
                <a asp-page="/MassPrep">Masses</a> will allow you to plan your Masses ahead of time, create new Masses, and make notes about music for a particular Mass.
            </li>
            <li>
                <a asp-page="/Attendance">Attendance</a> will allow you to take and store student attendance each week.
            </li>
            <li>
                <a asp-page="/ReherasalPrep">Rehearsal</a> will allow you to plan your lessons and make notes about the lessons as they happen.
            </li>
            <li>
                <a asp-page="/Solos">Attendance</a> will allow you to keep track of students, their solos that they've done, and how long it's been since they have had one. 
            </li>
            <li>
                <a asp-page="/Student">Attendance</a> will allow you to add students to a certain year.
            </li>
        </ol>
    </p>
</div>
