@{
    ViewData["Title"] = "RehearsalPrep Page";
}

<div class="text-left">
    <h1 class="display-4">Rehearsal Preparations</h1>
    <p>Use this to plan weekly lesson plans and make notes during the lessons</p>
</div>